<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome Developers Network</h1>

  <h2>
    Developers Network | Our goal is to help you enjoy your Sofware Engineering Career
  </h2>
  <p>Please join us and make your development career full of joy. We have thousands of active developers. Our developers loves to chat with you and colloborate with each other to solve challenging problems</p>
  <p>After joining activate your account and check out profiles of couple of developers who shares common interest. Follow the developer, check out their work and join chatrooms to learn more about proramming languages you love the most.</p>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
